
@keyframes example {
    from {max-width: 30%;opacity: 0%}
    to {max-width: 40%; opacity: 100%}

  }
  @keyframes example1 {
    from {max-width: 2%;opacity: 0%}
    to {max-width: 4%; opacity: 100%}

  }
  @keyframes example2 {
    from {max-width: 2%;opacity: 0%}
    to {max-width: 3.5%; opacity: 100%}

  }

  .main3 {

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  animation-name: example2;
  animation-duration: 4s;
  animation-delay: 0s;

  transition: transform 180ms;


  /* HOVER OFF */
  }

  .main3:hover {
    transform: scale(1.04);

  }


  .main2 {


  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  animation-name: example1;
  animation-duration: 4s;
  animation-delay: 0s;

  transition: transform 180ms;


  /* HOVER OFF */
  }

  .main2:hover {
    transform: scale(1.04);

  }

  .main {


    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0s;

    transition: transform 250ms;


    /* HOVER OFF */
  }

  .main:hover {
    transform: scale(1.04);
  }