@keyframes example {
    from {
        max-width: 60%;
        opacity: 0%
    }

    to {
        max-width: 70%;
        opacity: 100%
    }
}

@keyframes example1 {
    from {
        max-width: 5%;
        opacity: 0%
    }

    to {
        max-width: 10%;
        opacity: 100%
    }
}

@keyframes example2 {
    from {
        max-width: 2%;
        opacity: 0%
    }

    to {
        max-width: 3.5%;
        opacity: 100%
    }
}

.main4 {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    animation-name: example1;
    animation-duration: 4s;
    animation-delay: 0s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    transition: transform 250ms;
    /* HOVER OFF */
}

    .main4:hover {
        transform: scale(1.04);
    }

.main5 {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    animation-name: example1;
    animation-duration: 4s;
    animation-delay: 0s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    transition: transform 250ms;
    /* HOVER OFF */
}

    .main5:hover {
        transform: scale(1.04);
    }
